
    <div class="container-fluid navback">
      <div class="row">
        <div class="col-4">
          <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/model-s">Model S</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/model3">Model 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/model-x">Model X</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="model-y">Model Y</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="cyber-t">Cyber-Truck</a>
          </li>
          </ul></div>
          <div class="col-4 justify-content-center">
            <ul class="nav justify-content-center"><li class="nav-item">
              <a class="nav-link justify-content-center" routerLink="/t-shirts">T-Shirts/Apperal</a>
            </li></ul>
            
            </div>
        <div class="col-4"><ul class="nav justify-content-end">
          <li class="nav-item">
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="dateOfBirth">Date of birth</label>
                    <div class="input-group">
                      <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
              </div>
            </ng-template>
            
            <button class="btn btn-lg btn-link" (click)="open(content)">Creat Account</button>
            
            <hr>
            
            <pre>{{closeResult}}</pre>
          </li>
          <li class="nav-item">
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="dateOfBirth">Date of birth</label>
                    <div class="input-group">
                      <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
              </div>
            </ng-template>
            
            <button class="btn btn-lg btn-link" (click)="open(content)">LogIn</button>
            
            <hr>
            
            <pre>{{closeResult}}</pre>
          </li>
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-link my-2 my-sm-0" type="submit">Search</button>
            </form>
          </li>
          <li class="nav-item">
            <a routerLink="/cart">
              <img src="../../assets/Images/cartIcon.png" alt="">
            </a>
          </li>
        </ul></div>
      </div>
    </div>
    
  