.navback{
    background-color: black;
}
.nav-link,.nav-item,.btn {
    color: white;
    font-size:18px;
    padding:8px;
}
.navbar-expand-lg,.navnav {
     background-color:black;
     color:white;
}
