<div class="container-fluid d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <h2>Model Y</h2>
      </div>
    </div>
  </div>
<div class="d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 23rem;">
          <img src="../../assets/Images/ImageY1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">CyberTBrokenGlass</h5>
            <p class="card-text">Cotton Blend tee with Cyber truck broken glass image.</p>
            <div class="row container-fluid">
              <div class="col"><a href="#" class="btn btn-link">View Item</a></div>
              <div class="col"><a href="#" class="btn btn-link">Add to Cart</a></div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 23rem;">
          <img src="../../assets/Images/ImageY2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Modern Cybert Truck clean image</h5>
            <p class="card-text">Tesla Logo Cotton T-Shirt of Tesla Cyber dark clean image.</p>
            <div class="row container-fluid">
              <div class="col"><a href="#" class="btn btn-link">View Item</a></div>
              <div class="col"><a href="#" class="btn btn-link">Add to Cart</a></div>
            </div>
          </div>
        </div>
