
<div class="container-fluid d-flex justify-content-center">
  <h2>New Arrivals</h2>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col"*ngFor='let item of productTList'>
          <div class="card" style="width: 18rem;">
              <img [src]='item.imageURL'class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{item.pName}}</h5>
                <h6>{{item.pNameURL}}</h6>
                <h6>{{item.pDesc}}</h6>
                <h6>{{item.additonaInfo}}</h6>
                <h6>{{item.price}}</h6>
                <p class="card-text"></p>
                <a>Item#{{item.id}}</a>
                <app-bootstrap-modal [product] ='item'></app-bootstrap-modal>
                <button class='btn btn-dark' (click)="addToCart(item)" >Add To Cart</button>
              </div>
            </div>
          
      </div>
  </div>
</div>