<div class="container-fluid justify-content-center">
  <div class="row justify-content-center">
    <h1>My Account</h1>
  </div>
</div>
<div class="card-group">
  <div class="card text-center">
    <div class="card-header">
       My Previous Orders
    </div>
    <div class="card-body">
        <h5 class="card-title">Previous Items</h5>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/Images/cyberShirt3.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        <h5 class="card-title">Cybert truck-T</h5>
                        <p class="card-text">Price: $10.00</p>
                            <a href="#" class="card-link">+ Add</a>
                            <a>1</a>
                            <a href="#" class="card-link"> Delete -</a>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/Images/cyberShirt3.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        <h5 class="card-title">Cybert truck-T</h5>
                        <p class="card-text">Price: $10.00</p>
                            <a href="#" class="card-link">+ Add</a>
                            <a>1</a>
                            <a href="#" class="card-link"> Delete -</a>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/Images/cyberShirt3.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        <h5 class="card-title">Cybert truck-T</h5>
                        <p class="card-text">Price: $10.00</p>
                            <a href="#" class="card-link">+ Add</a>
                            <a>1</a>
                            <a href="#" class="card-link"> Delete -</a>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/Images/cyberShirt3.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        <h5 class="card-title">Cybert truck-T</h5>
                        <p class="card-text">Price: $10.00</p>
                            <a href="#" class="card-link">+ Add</a>
                            <a>1</a>
                            <a href="#" class="card-link"> Delete -</a>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/Images/cyberShirt3.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        <h5 class="card-title">Cybert truck-T</h5>
                        <p class="card-text">Price: $10.00</p>
                            <a href="#" class="card-link">+ Add</a>
                            <a>1</a>
                            <a href="#" class="card-link"> Delete -</a>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>
    
    <div class="card text-center">
      <div class="card-header">
         Order Summary
      </div>
      <div class="card-body">
          <h6 class="card-title">Sub Total: $10.00</h6>
          <h6 class="card-title">Shipping: Free</h6>
          <h6 class="card-title">Taxes: $2.00</h6>
          
          
         
          <h4 class="card-title">Order Total: $12.00</h4>
          <p class="card-text"><small class="text-muted"><p class="card-text">Order Total: $12.00</p>
            <a href="#" class="btn btn-dark"routerLink="/check-out" >Check Out</a><p class="card-text"></p>
            <a href="#" class="btn btn-danger">Cancel</a>
           
          </small></p>
          <a href="#" class="btn btn-dark">Continue Shopping</a>
          
          
      </div>
      <div class="card-footer text-muted">
          
      </div>
  </div>
  </div>
